.vs
.idea
AutoFindBot/bin
AutoFindBot/obj
AutoFindBot.Controllers/bin
AutoFindBot.Controllers/obj
AutoFindBot.Integration/bin
AutoFindBot.Integration/obj
AutoFindBot.Storage/bin
AutoFindBot.Storage/obj
AutoFindBot.Utils/bin
AutoFindBot.Utils/obj
AutoFindBot.Web/bin
AutoFindBot.Web/obj
AutoFindBot.Web/Logs
AutoFindBot.Web/.config
AutoFindBot.Integration.TradeDealer/obj
AutoFindBot.Integration.TradeDealer/bin
AutoFindBot.Web/Properties/PublishProfiles
AutoFindBot.Integration.KeyAutoProbeg/bin
AutoFindBot.Integration.KeyAutoProbeg/obj
AutoFindBot.Integration.Avito/bin
AutoFindBot.Integration.Avito/obj
AutoFindBot.Integration.AutoRu/obj
AutoFindBot.Integration.RuCaptcha/obj
AutoFindBot.Integration.AutoRu/bin
AutoFindBot.Integration.RuCaptcha/bin
AutoFindBot.Integration.Drom/obj
AutoFindBot.Integration.Drom/bin
AutoFindBot.Integration.Youla/obj
AutoFindBot.Integration.Youla/bin
